<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:be.pageRenderer />

<div class="module" data-module-name="temporal-cache">
    <f:render section="Before" optional="true" />

    <div class="module-body">
        <f:flashMessages />
        <f:render section="Content" />
    </div>

    <f:render section="After" optional="true" />
</div>

</html>
